# IDE/project files
.vscode/
.idea/
*.iml

# Build artifacts
/target/
yaplab-app-backend/target/
yaplab-app-frontend/node_modules/
yaplab-app-frontend/dist/
yaplab-app-frontend/build/

# Local uploads
uploads/

# Do NOT ignore application.properties
!yaplab-app-backend/src/main/resources/application.properties

