@font-face {
    font-family: "Regular";
    src: url("./assets/fonts/Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

.container{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;    
    font-family: 'Regular', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Form{
    width: 300px;
    height: 450px;
    text-align: left;
    background-color: #aea29c;
    padding: 40px;
    align-items: center;
    justify-content: center;
    color: #1a3033;
    box-shadow: 4px 20px 20px rgba(0, 0, 0, 0.2);    
}

.image-container{
    background-color: #D3CED0;
    height: 530px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;  
      
}

.frame{
    position: relative;
    overflow: visible;
    box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.2);

}

.shape{
    width: auto;
    height: 530px;
    transform: scale(1.2);
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

.passwordfield{
    position: relative;
    width: 200px;
    display: inline-block;
}

.eye{
    position: absolute;
    right: 0px;
    top: 40%;
    max-height: 20px;
    cursor: pointer;
}

@keyframes zoomInOut {
    0% {
      transform: scale(1.10);
    }
    100% {
      transform: scale(1.05);
    }
  }


.input_username,
.input_emailid,
.input_mobilenumber,
.input_password{
    border-radius: 20px;
    border: none;
    font-family: 'Regular', 'Roboto', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    height: 20px;
    background-color: #D3CED0;
    
}

.submitButton{
    background-color: #D3CED0;
    border: none;
    border-radius: 30px;
    padding: 9px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 0.9em;
    height: 40px;
    width: 80px;    
}

.toggleLogIn{
    background: none;
    cursor: pointer;
    border: none; 
    color: #DD7155;
    font-family: 'Regular', 'Roboto', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    margin-left: -6px;
}

.submitButton:hover{
    background-color: #fdf6f9;
}

.toggleLogIn:hover{
    color: #943735;
}