@font-face {
    font-family: "Regular";
    src: url("./assets/fonts/Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bold";
    src: url("./assets/fonts/Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.chatwindow{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;
    height: 100vh;    
    align-items: center;
    justify-content: center;
    box-shadow: #2d2f2f;

}

.chatTitle{
    font-size: 20px;
    text-align: center;    
    font-weight: bold;
    border-bottom: 2px solid black;
    width: 100%;
    padding-bottom: 10px;
    font-family: 'Bold', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Userlistarea{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #d2dce4a6;
    width: 30%;
    height: 90%;
    overflow: hidden;
    box-shadow: #2d2f2f;
    align-items: left;
}

.searchfield{
    margin: 10px;
    height: 20px;
    width: 90%;
    padding: 10px;
    font-size: medium;
    font-family: 'Regular', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.userInfoList{
    display: flex;
    width: 90%;
    align-items: center;
    padding-left: 15px;
    font-family: 'Regular', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.useravatar{
    width: 30px;
    margin-right: 15px;
    border-radius: 50px;
    background-color: white;
    padding: 5px;
    margin: 10px;
}

.chatareacontainer{
    display: flex;
    flex-direction: column;
    width: 60%; 
    height: 90%;
}

.chatArea {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #d2dce4a6;
    padding: 10px;
    height: 100%;

}

.userInfo{
    display: flex;
    background-color: hsl(180, 3%, 56%);
    min-width: 460px;
    align-items: center;
    padding-left: 15px;
    font-family: 'Regular', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.messageContainer{
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 100%;
    justify-content: center;
}

.getMessage{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.typeArea{
    flex-grow: 1;
    background-color: #c2cccc;
    height: 20px;
    border-radius: 50px;
    padding: 10px;
    border: 1.5px solid black;
    font-family: 'Regular', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.sendMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #8d9398;
    border: 1.5px solid black;
    height: 40px;
    width: 40px;
    cursor: pointer;
    padding-left: 9px;
    margin-right: 20px;
   
}
.sendIcon{
    height: 20px;
    width: 20px;

}

.sendMessage:hover{
    background-color: hsla(207, 5%, 57%, 0.786);
}